[Unit]
Description=Upload Pictures to S3-compatible object storage
Requires=network-online.target
# Optional tailscale-online@rockpro64.target
After=network-online.target
StartLimitIntervalSec=3min

[Service]
ExecStart=/usr/bin/rclone --config=/etc/rclone/rclone.conf move /home/pi-camera/Pictures/ minio:pi-camera/pi-camera

[Install]
WantedBy=multi-user.target
