[Unit]
Description=Upload Pictures to S3-compatible objet storage
Requires=network-online.target tailscale-online@quartz64.target
After=network-online.target tailscale-online@quartz64.target

[Service]
ExecStart=/usr/bin/rclone move %h/Pictures/ minio:pi-camera/rpi4b-01/

[Install]
WantedBy=default.target
